.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}

#cardLayout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
  padding: 2px 16px;
  
}

#heart, #redHeart {
  font-size: 90px;
  cursor: pointer;
}

#redHeart {
  color: red;
  cursor: pointer;
}

#welcome{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}